<md:EntityDescriptor xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" entityID="https://{{ server_name }}/sp/shibboleth">
  <md:Extensions xmlns:alg="urn:oasis:names:tc:SAML:metadata:algsupport">
    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha512"/>
    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#sha384"/>
    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmlenc#sha256"/>
    <alg:DigestMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#sha224"/>
    <alg:DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha512"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha384"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha256"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha224"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha512"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha384"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2009/xmldsig11#dsa-sha256"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha1"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
    <alg:SigningMethod Algorithm="http://www.w3.org/2000/09/xmldsig#dsa-sha1"/>
  </md:Extensions>
  <md:SPSSODescriptor protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:oasis:names:tc:SAML:1.0:protocol">
    <md:Extensions>
      <init:RequestInitiator xmlns:init="urn:oasis:names:tc:SAML:profiles:SSO:request-init" Binding="urn:oasis:names:tc:SAML:profiles:SSO:request-init" Location="https://{{ server_name }}/Shibboleth.sso/Login"/>
      <idpdisc:DiscoveryResponse xmlns:idpdisc="urn:oasis:names:tc:SAML:profiles:SSO:idp-discovery-protocol" Binding="urn:oasis:names:tc:SAML:profiles:SSO:idp-discovery-protocol" Location="https://{{ server_name }}/Shibboleth.sso/Login" index="1"/>
    </md:Extensions>
    <md:KeyDescriptor>
      <ds:KeyInfo>
        <ds:KeyName>{{ server_name }}</ds:KeyName>
        <ds:X509Data>
          <ds:X509SubjectName>C=CZ, ST=CZ, O=CVUT, CN={{ server_name }}</ds:X509SubjectName>
          <ds:X509Certificate>MIIDXTCCAkWgAwIBAgIJAJp4yH/QMPEvMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
BAYTAkNaMQswCQYDVQQIDAJDWjENMAsGA1UECgwEQ1ZVVDEaMBgGA1UEAwwRbWlh
ZHAuZml0LmN2dXQuY3owHhcNMTcxMDE2MTMzOTQwWhcNMTgxMDE2MTMzOTQwWjBF
MQswCQYDVQQGEwJDWjELMAkGA1UECAwCQ1oxDTALBgNVBAoMBENWVVQxGjAYBgNV
BAMMEW1pYWRwLmZpdC5jdnV0LmN6MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEA1C++AynpE5HFtG0lMUjaQ01mATCkOYRKXFpNjYA0pYr0f7q4nV5QKeoB
EqoJYgD4D7w3O/Ha0Wdx5lRG4OZX1I3PGuAr4qgTOTRT/FAKuiMU6A5Mp5+SvGGu
2ZCAg1YwHeF3PpRz05/7lxU9kMogFPeM3+GTmGfNUh6qRr10jBc18ITNC7DRE6la
ifF2DINZbrnA7vyz3nIvSEGPKxEqGRuAICFDe+cgy+5QmQCE7quzubGiLtpzfZZo
g7dnbzDpevVXnUyrZYswn09614orT8Q3jbKXPAD065OQx8KCnwaOXg2mYj34pgQJ
KoXGHgaaORhDJU9QjVnMAdyamzK6MQIDAQABo1AwTjAdBgNVHQ4EFgQUacGIpsuB
mywyY7zdCF+zWdbVQfEwHwYDVR0jBBgwFoAUacGIpsuBmywyY7zdCF+zWdbVQfEw
DAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAKHCobe6yho1pFh8Dnexx
/SeyOOe3KAXN0LhjH4qolroYUzv5rjgm+3xHwJFlTgugHqn/2qKWtpa4i6b1xNgx
LjMFkvbr7+thBKgNIXyWNs8EDkVahvStbKVs9cb2u4Z4sNcPEyKObofhDbGcvgSC
nqJCwaQm8Y+q3ZVEHRttX9UZrg0cqeZZJ9HGgtvDtJjK5eBjDIGj7tCi/V4g8vAE
IpNH8vlA0/MOveEzRiSTHR2nxumPevbZiHP1LQf4aRZ+/wErDJUYOotI1KH59L52
RYtdTkp7XiyFulkU0j7TWGQy/LZiqS9J4MLS38xLlIGKZ6uUyoITNt3IKxlAxQgh
1w==
          </ds:X509Certificate>
        </ds:X509Data>
      </ds:KeyInfo>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes128-gcm"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes192-gcm"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#aes256-gcm"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes128-cbc"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2009/xmlenc11#rsa-oaep"/>
      <md:EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p"/>
    </md:KeyDescriptor>
    <md:ArtifactResolutionService Binding="urn:oasis:names:tc:SAML:2.0:bindings:SOAP" Location="https://{{ server_name }}/Shibboleth.sso/Artifact/SOAP" index="1"/>
    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:SOAP" Location="https://{{ server_name }}/Shibboleth.sso/SLO/SOAP"/>
    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://{{ server_name }}/Shibboleth.sso/SLO/Redirect"/>
    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://{{ server_name }}/Shibboleth.sso/SLO/POST"/>
    <md:SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact" Location="https://{{ server_name }}/Shibboleth.sso/SLO/Artifact"/>
    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://{{ server_name }}/Shibboleth.sso/SAML2/POST" index="1"/>
    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST-SimpleSign" Location="https://{{ server_name }}/Shibboleth.sso/SAML2/POST-SimpleSign" index="2"/>
    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact" Location="https://{{ server_name }}/Shibboleth.sso/SAML2/Artifact" index="3"/>
    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:PAOS" Location="https://{{ server_name }}/Shibboleth.sso/SAML2/ECP" index="4"/>
    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:1.0:profiles:browser-post" Location="https://{{ server_name }}/Shibboleth.sso/SAML/POST" index="5"/>
    <md:AssertionConsumerService Binding="urn:oasis:names:tc:SAML:1.0:profiles:artifact-01" Location="https://{{ server_name }}/Shibboleth.sso/SAML/Artifact" index="6"/>
  </md:SPSSODescriptor>
  <md:Organization>
    <md:OrganizationName xml:lang="en">FIT CTU</md:OrganizationName>
    <md:OrganizationName xml:lang="cs">FIT ČVUT</md:OrganizationName>
    <md:OrganizationDisplayName xml:lang="en">Faculty of Information Technology, Czech Technical University in Prague</md:OrganizationDisplayName>
    <md:OrganizationDisplayName xml:lang="cs">Fakulta informačních technologií, České vysoké učení technické v Praze</md:OrganizationDisplayName>
    <md:OrganizationURL xml:lang="en">http://www.fit.cvut.cz</md:OrganizationURL>
    <md:OrganizationURL xml:lang="cs">http://www.fit.cvut.cz</md:OrganizationURL>
  </md:Organization>
  <md:ContactPerson contactType="technical">
    <md:GivenName>{{ contact_first_name }}</md:GivenName>
    <md:SurName>{{ contact_last_name }}</md:SurName>
    <md:EmailAddress>{{ contact_email }}</md:EmailAddress>
  </md:ContactPerson>
</md:EntityDescriptor>